﻿@model TestAssignmentDionysus.Models.Bid

@{
    ViewBag.Title = "Create";
}

<h2>Uus pakkumine</h2>

<dl class="dl-horizontal">
    <dt>
        Toote nimi:
    </dt>

    <dd>
        @TestAssignmentDionysus.Controllers.AuctionsController.getById(ViewBag.AucId).ProductName
    </dd>

    <dt>
        Toote kirjeldus:
    </dt>

    <dd>
        @TestAssignmentDionysus.Controllers.AuctionsController.getById(ViewBag.AucId).ProductDescription
    </dd>

    <dt>
        Lõpptähtaeg:
    </dt>

    <dd>
        @TestAssignmentDionysus.Controllers.AuctionsController.getById(ViewBag.AucId).EndTime
    </dd>

</dl>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <strong class="control-label col-md-2">Sisesta oma täisnimi</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Sisesta summa eurodes</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Esita" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tagasi", "Index", "Auctions")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
